/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	
}

*{
	padding: 0;
	margin: 0;
}
button,
summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/****************/
/*NAV BAR*/
/****************/

header{
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	padding: 40px 20px;
	margin: 0 auto;
}

[src="./images/prof_e_logo_nobg.svg"]{
	/* direct child selector */
	width: 120px;
	
}

	


/* attribute selector */
[src="./images/basket.svg"]{
	width: 40px;
	
}

header button{
	background: none;
	border: none;
}

nav{
	padding:1em;
	gap:1em;
	background-color:black;opacity:0.6;
	position:fixed;

	left:0;
	right:0;
	top:0;
	bottom:0;

	transform:translatex(-100%);   
	transition:transform .3s;
}

nav.toonMenu{
	transform:translatex(0); 
}



nav ul {
	list-style: none;
	
	padding: 0em 3em;
	
	
}

nav li img{
	
	width: 1.5em;
	color: whitesmoke;
}

nav ul li{
	margin-top: 30px;
}

nav ul li a:first-of-type{
	margin-top:50px;
}

nav ul li a{
	display:flex;
	justify-content: center;
  	align-items:center;
	text-decoration: none;
	color: whitesmoke;
	
}

nav button{
	background: none;
	border: none;
	
}


nav img:nth-of-type(2){
	height: 25px;
	
}



/****************/
/* "CAROUSEL" */
/****************/
section:first-of-type {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-snap-align: center;
	height: 50em;
	grid-gap: 0;
}

section:first-of-type img {
	width: auto;
	height: auto;
}

section:first-of-type img:hover {
	border: none;
}
/****************/
/* MAIN EN GRID*/
/****************/

main {
	font-family: 'Lora', serif;
}

h2:first-of-type {
	font-family: 'Lora', serif;
	font-size: small;
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: black;
	padding: 5em;
}

main a {
	
	text-decoration: none;
	color: black;
	padding: 3em ;
	font-size: small;
	text-align: center;

}

main a p{
	margin-top: 1em;

}

main img {
	width: 22em;
	height: 30em;
}

main img:hover {
    border: 5px solid rgb(92, 184, 237);
     
}


section{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	row-gap: 2em;
	grid-gap: 1em;
	width: 100%;
	
}

@media only screen and (max-width:320px){
	section{
		display: grid;
		grid-template-columns: 1fr;
	}

	main img{
		width: 17em;
    	height: 27em;
		justify-content: center;
	}
}

/**********************************************/

/****************/
/* PAGINA 2 */
/****************/

/****************/
/* "FOTOCAROUSEL"*/
/****************/




.pagina2 section:nth-of-type(1):not(:nth-last-child(-n+2)){ 
	display: flex;
	overflow-x: auto;
	
	height: 35em;
	scroll-snap-type: x mandatory;
	scroll-snap-align: center;
	
}

/****************/
/* MAIN */
/****************/



.pagina2 h2{
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;
	padding: 1em 2em 0 2em;
	font-family: 'Lora', serif; 
	font-size: large;
	font-weight: lighter;
	text-align: center;
	
	
}

.pagina2 p{
	display: flex;
	justify-content: flex-start;
	padding: 0 3em;
	font-family: 'Lora', serif; 
	font-size: small;
	font-weight: lighter;
	color: gray;
	
}

.pagina2 section:nth-of-type(2){ 
	padding: 1em;
	display: flex;
	grid-gap:.5em;
	width: 100%;
	
	
}

@media only screen and (max-width:320px){
	.pagina2 section:nth-of-type(2){ 
		padding: 2em 0 0 2em;
		display: flex;
		float: none;
		height: auto;
		grid-gap:.5em;
		width: 50%;
		flex-wrap: nowrap;
	}


}
  
.pagina2 section:nth-of-type(2) img{ 
	
	height: 4.5em;
	width: 3.5em;
	
}

/****************/
/* MAAT FORMULIER */
/****************/

select{
	display: flex;
	justify-content: flex-start;
	margin-top: 2em;
	margin-left: 2em;
	padding: 1em 60% 1em 0;
	font-family: 'Lora', serif; 
	font-size: .7em;
	font-weight: lighter;
	color: rgb(131, 131, 131);
	border-color: rgb(118, 118, 118) rgb(133, 133, 133);

}



/****************/
/* ADD TO CART */
/****************/

.pagina2 main button{
	display: flex;
	justify-content: center;
	text-align: center;
	
	margin-top: 2em;
	margin-right: 2em;
	padding: .5em 8em;

	width: 30%;
	height: 30%;

	font-family: 'Lora', serif;
	font-weight: lighter;
	color: black;

	border: 1px black;
	

}

.pagina2 main button:hover{
	background-color: black;
	color: whitesmoke;
		
}


#inline{
	display: flex;
	justify-content: space-between;
}


@media only screen and (max-width: 425px) and (min-width: 320px){
	#inline{
		display: block;
		margin: auto;
	}

	.pagina2 main button{
		display: block;
		margin: auto;
		font-size: small;
		width: 50%;
		height: 2em;
		padding: 0%;
		margin-top: 1em;
	}

	#inline select{
		padding: 1em 1em ;
		
		width: 80%;
		display: block;
		margin: auto;
	}
	
	
}



	
	  

/****************/
/* SUGGESTIONS */
/****************/


	.pagina2 a p{
		margin-top: 1em;
		margin-bottom: .5em;
		justify-content: center;
		
	}

	.pagina2 p:nth-of-type(2){
		margin-top: 2em;
	}

	.pagina2 p:nth-of-type(2n+1):not(:nth-of-type(4)):not(:nth-of-type(6)){
		margin-bottom: 3em;
	}

	@media only screen and (max-width:320px){
		main img{
			display: grid;
			grid-template-columns: 1fr;

			width: 100%;
			height: 80%;


		}
	}




/****************/
/* FOOTER */
/****************/

footer {
	text-align: center;

}

footer a{
	display: block;
	padding: 1rem 0;
	font-size: small;
	text-decoration: none;
	color: black;
}
